<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-liberty-market.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <!-- Header -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/home" class="logo">
                            <img src="/images/logo.png" alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/types">Type</a></li>
                            <li><a href="/game">Game</a></li>
                            <li><a href="/forum" >Forum</a></li>
                            <li><a href="/about" class="active">About</a></li>
                            <!-- Check if the user is logged in -->
                            <% if (!isLoggedIn) { %>
                                <!-- แสดง Login และ Register ถ้ายังไม่ได้เข้าสู่ระบบ -->
                                <li id="login-register">
                                <li><a href="/register">Create Yours</a></li>
                                <li><a href="/login">Login</a></li>
                                </li>
                                <% } else { %>
                                    <!-- แสดง Dropdown Profile ถ้าเข้าสู่ระบบแล้ว -->
                                    <li id="profile-link" class="dropdown">
                                        <a href="#" class="dropdown-toggle">
                                            <%= username %>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/profile">My Profile</a></li>
                                            <li><a href="/logout">Logout</a></li>
                                        </ul>
                                    </li>
                                    <% } %>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>


    <br><br>
    <!-- Description Section -->
     
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="description-container">
                    <div class="advisor_thumb"><img src="/images/logo.png" alt="">

                        <h5 style="color: black;">รายละเอียดของเว็บไซต์</h5>
                        <p style="color: black;">
                            เวปไซต์ของกลุ่มผมมีชื่อว่า CyberWatch โดยเราเน้นกันไปที่ CybercrimeAttackต่างๆ
                            ไม่ว่าจะเป็นข่าว ประเภทการโจมตีโดยมีการใช้ Chart
                            โชว์%ของแต่ละประเภทและมีการจัดอันดับทีCybercrime attack
                            โดยเรียงตามความเสี่ยงจากมากไปน้อยอีกด้วย รวมถึงเราได้ทำเกมเป็นส่วนหนึ่งของกิมมิคเล็กๆของงาน
                            โดยเป็นเกมการตั้งPassword ซึ่งถ้าตามเงื่อนไขได้ทุกข้อก็จะผ่าน ในด้่านของ Databaseนั้น
                            กลุ่มเราได้ใช้ MongoDB เป็นตัวเก็บข้อมูลโดยเก็บข้อมูลในหน้า Login/Forum/Registration
                            ซึ่งเมื่อทำการล็อกอินเสร็จสิ้นก็ได้มีการนำข้อมูลมาแสดงที่หน้า Profile อีกด้วย
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container rounded bg-white mt-5 mb-5">
            <br><br>
            <p class="developer-title">Developer</p> <!-- Added "Developer" text -->

            <div class="advisor-container">
                <!-- Single Advisor-->
                <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s">
                    <br>
                    <div class="advisor_thumb"><img src="/images/TanPic.jpg" alt="">
                    </div>
                    <div class="single_advisor_details_info">
                        <h6>นาย รวิดนัย อุทัยรัตน์</h6>
                        <p class="designation">65130010293</p>
                    </div>
                </div>
                <!-- Repeat advisor cards as needed -->
                <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s">
                    <br>
                    <div class="advisor_thumb"><img src="/images/MomoPic.jpg" alt="">
                    </div>
                    <div class="single_advisor_details_info">
                        <h6>นาย จีรพันธ์ จิรชาญชัย</h6>
                        <p class="designation">65130010469</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; 2024 <a href="#">293-469</a> JeerapanRavidanai Co., Ltd. All rights reserved.
                    &nbsp;&nbsp;
                    Designed by <a title="HTML CSS Templates" rel="sponsored" href="https://templatemo.com"
                        target="_blank">293-469</a></p>
            </div>
        </div>
    </div>
</footer>

<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>


</html>