<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="templatemo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-liberty-market.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/login.css">
    <!--

TemplateMo 577 Liberty Market

-->
</head>

<body>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/home" class="logo">
                            <img src="/images/logo.png" alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/types">Type</a></li>
                            <li><a href="/game">Game</a></li>
                            <li><a href="/forum">Forum</a></li>
                            <div>
                                <li><a href="/register">Create Yours</a></li>
                                <li><a href="/login" class="active">Login</a></li>
                            </div>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="header-text">
        <div class="page-heading normal-space">
            <div class="container-center">
                <div class="form-container">
                    <h3 class="text-signin">Sign in</h3>
                    <br>
                    <form id="loginForm" method="POST" action="/auth" onsubmit="return validateLogin()">
                        <div class="field-row">
                            <div class="col-lg-12 form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" id="username" class="form-control"
                                    placeholder="Enter your username" required>
                            </div>
                        </div>
                        <div class="field-row">
                            <div class="col-lg-12 form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" class="form-control"
                                    placeholder="Enter your password" required>
                            </div>
                        </div>
                        <div class="field-row">
                            <div class="col-lg-12 form-group">
                                <div class="remember-me">
                                    <input type="checkbox" id="showPassword" onclick="togglePasswordVisibility()"> Show
                                    Password
                                </div>
                                <div class="remember-me">
                                    <input type="checkbox" id="rememberMe" name="rememberMe">
                                    <label for="rememberMe">Remember Me</label>
                                </div>
                            </div>
                        </div>
                        <div class="field-row">
                            <div class="col-lg-12 captcha-group">
                                <button type="button" class="btn btn-secondary" onclick="requestCaptcha()">I'm not a
                                    robot</button>
                                <div id="captchaAlert" style="display: none;">Please verify the captcha.</div>
                            </div>
                        </div>
                        <div class="field-row">
                            <div class="col-lg-12 login-btn">
                                <button type="submit" value="Login" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                        <div class="field-row">
                            <div class="col-lg-12 forgot-password">
                                <a href="#">Forgot Password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>


<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<script src="/js/isotope.min.js"></script>
<script src="/js/owl-carousel.js"></script>

<script src="/js/tabs.js"></script>
<script src="/js/popup.js"></script>
<script src="/js/custom.js"></script>

<script src="/js/login.js"></script>

</html>