<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="author" content="templatemo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <title>Liberty NFT - Author Detail Page</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-liberty-market.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/forum.css">
    <link rel="stylesheet" href="/css/writeforum.css">
    <!--

TemplateMo 577 Liberty Market

https://templatemo.com/tm-577-liberty-market

-->
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <!-- <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div> -->
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/index" class="logo">
                            <img src="/images/logo.png" alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/types">Type</a></li>
                            <li><a href="/game">Game</a></li>
                            <li><a href="/forum" class="active">Forum</a></li>
                            <div>
                                <li><a href="/register">Create Yours</a></li>
                                <li><a href="/login">Login</a></li>
                            </div>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <div class="header-text">
        <div class="page-heading normal-space">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h6>ศูนย์การแสดงความคิดเห็น</h6>
                        <h2>เพื่อให้ทุกคนมีส่วนร่วมในแบ่งปันข้อมูล,ช่วยเหลือและให้ความรู้</h2>
                        <span><a href="#">Forum</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="author-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="sidebar ">
                        <div class="header-forum">
                            <h1>Cybercrime</h1>
                            <p>ฟอรัมทางการ</p>
                            <p>👤 ....</p>
                        </div>
                        <ul class="menu">
                            <ul class="socialmenu">
                                <li><a href="#">X (Twitter)</a></li>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Youtube</a></li>
                                <li><a href="https://www.instagram.com/_iamrawin/?hl=en">Instagram</a></li>

                            </ul>
                            <li class="menu-item">
                                <span>โพสต์ทั้งหมด</span>
                            </li>
                            <li class="menu-item">
                                <span>Type of Cybercrime
                                    <i class="arrow"></i>
                                </span>
                                <ul class="submenu">
                                    <li><a href="#">Phishing</a></li>
                                    <li><a href="#">Ransomware</a></li>
                                    <li><a href="#">Social Engineering</a></li>
                                    <li><a href="#">Malware</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="header-forum">
                        <div class="sidebar">
                            <h1 class="color-text">
                                <%= data.title %>
                            </h1>
                            <article class="article">
                                <p class="color-text">
                                    <%= data.description %>
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <footer>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright © 2024 <a href="#">293-469</a> JeerapanRavidanai Co., Ltd. All rights reserved.
                            &nbsp;&nbsp;
                            Designed by <a title="HTML CSS Templates" rel="sponsored" href="https://templatemo.com"
                                target="_blank">293-469</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <!-- Bootstrap core JavaScript -->
        <script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>
        <script src="/jquery/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/writeforum.js"></script>

        <script src="/js/isotope.min.js"></script>
        <script src="/js/owl-carousel.js"></script>

        <script src="/js/tabs.js"></script>
        <script src="/js/popup.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/forum.js"></script>
</body>

</html>