<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="author" content="templatemo">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,400,700'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/networkgraph.js"></script>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="./style.css">

  <title>Types of Crime</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="../assets/css/crime.css">
  <link rel="stylesheet" href="../assets/css/fontawesome.css">
  <link rel="stylesheet" href="../assets/css/templatemo-liberty-market.css">
  <link rel="stylesheet" href="../assets/css/owl.css">
  <link rel="stylesheet" href="../assets/css/animate.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  <!--

TemplateMo 577 Liberty Market

https://templatemo.com/tm-577-liberty-market

-->
</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <!-- <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div> -->
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo">
              <img src="../assets/images/logo.png" alt="">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="types.html" class="active">Type</a></li>
              <li><a href="game.html">Game</a></li>
              <li><a href="author.html">Author</a></li>
              <li><a href="create.html">Create Yours</a></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>The dangers of the online world</h6>
          <h2>
            <c style="color: red;">Cybercrime</c> you need to watch out for
          </h2>
          <span>Home > <a href="#">Types</a></span>
        </div>
      </div>
    </div>
    <div class="featured-explore">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="owl-features owl-carousel">
              <a class="card" href="#!">
                <img src="../assets/images/featured-01.jpg">
                <div class="back" style="border-radius: 20px;">
                  <div>
                    <h3>Phishing</h3>
                    <p>
                      เป็นการโจมตีทางไซเบอร์ที่แฮกเกอร์ใช้เว็บไซต์หรืออีเมลปลอมเพื่อหลอกลวงผู้ใช้งานให้เปิดเผยข้อมูลส่วนตัว
                      เช่น รหัสผ่าน หรือข้อมูลทางการเงิน โดยมักแฝงตัวมาในรูปแบบขององค์กรที่น่าเชื่อถือ เช่น
                      ธนาคารหรือบริการออนไลน์"</p>
                  </div>
                </div>
              </a>
              <a class="card" href="#!">
                <img src="../assets/images/featured-02.jpg">
                <div class="back" style="border-radius: 20px;">
                  <div>
                    <h3>Malware</h3>
                    <p>เป็นซอฟต์แวร์ที่ถูกพัฒนาเพื่อแทรกแซงระบบคอมพิวเตอร์ของเหยื่อ โดยมีเป้าหมายในการทำลายข้อมูล
                      ขโมยข้อมูลสำคัญ หรือควบคุมการทำงานของระบบโดยไม่ได้รับอนุญาต</p>
                  </div>
                </div>
              </a>
              <a class="card" href="#!">
                <img src="../assets/images/featured-03.jpg">
                <div class="back" style="border-radius: 20px;">
                  <div>
                    <h3>Ransomware</h3>
                    <p>
                      เป็นมัลแวร์ชนิดหนึ่งที่จะแอบเข้ารหัสไฟล์สำคัญในคอมพิวเตอร์ของเหยื่อและเรียกเงินค่าไถ่เพื่อแลกกับการปลดล็อกไฟล์เหล่านั้น
                      โดยมักจะแพร่กระจายผ่านไฟล์แนบอีเมลหรือเว็บไซต์ที่ไม่ปลอดภัย</p>
                  </div>
                </div>
              </a>
              <a class="card" href="#!">
                <img src="../assets/images/featured-04.jpg">
                <div class="back" style="border-radius: 20px;">
                  <div>
                    <h3>Social Engineering</h3>
                    <p>เป็นการโจมตีที่ใช้การหลอกลวงทางจิตวิทยาเพื่อชักจูงเหยื่อให้เปิดเผยข้อมูลส่วนตัว
                      หรือดำเนินการที่เป็นประโยชน์ต่อผู้โจมตี เช่น การให้รหัสผ่านหรือโอนเงิน</p>
                  </div>
                </div>
              </a>
              <a class="card" href="#!">
                <img src="../assets/images/featured-05.jpg">
                <div class="back" style="border-radius: 20px;">
                  <div>
                    <h3>Identity Theft</h3>
                    <p>เป็นการโจรกรรมข้อมูลส่วนบุคคลของเหยื่อ เช่น ชื่อ หมายเลขบัตรประชาชน หรือข้อมูลทางการเงิน
                      เพื่อนำไปใช้แอบอ้างในการทำธุรกรรมทางการเงินหรือสร้างหนี้ในชื่อของเหยื่อ</p>
                  </div>
                </div>
              </a>
              <a class="card" href="#!">
                <img src="../assets/images/featured-06.jpg">
                <div class="back" style="border-radius: 20px;">
                  <div>
                    <h3>Romance scam</h3>
                    <p>
                      เป็นการหลอกลวงที่ผู้โจมตีแสร้งทำเป็นสนใจความสัมพันธ์โรแมนติกกับเหยื่อผ่านแพลตฟอร์มหาคู่หรือโซเชียลมีเดีย
                      และเมื่อเหยื่อตกหลุมรัก พวกเขาจะถูกหลอกลวงให้โอนเงินหรือส่งข้อมูลส่วนตัวให้</p>
                  </div>
                </div>
              </a>
              <a class="card" href="#!">
                <img src="../assets/images/featured-07.jpg">
                <div class="back" style="border-radius: 20px;">
                  <div>
                    <h3>Keylogger</h3>
                    <p>เป็นซอฟต์แวร์ที่ถูกติดตั้งในระบบคอมพิวเตอร์เพื่อแอบบันทึกการกดแป้นพิมพ์ของผู้ใช้งาน
                      โดยมีเป้าหมายเพื่อขโมยข้อมูลสำคัญ เช่น รหัสผ่านหรือข้อมูลบัตรเครดิต</p>
                  </div>
                </div>
              </a>
              <a class="card" href="#!">
                <img src="../assets/images/featured-08.jpg">
                <div class="back" style="border-radius: 20px;">
                  <div>
                    <h3>Cyberstalking</h3>
                    <p>เป็นการคุกคามเหยื่อผ่านช่องทางออนไลน์ เช่น อีเมล โซเชียลมีเดีย หรือการส่งข้อความข่มขู่
                      โดยมีเป้าหมายเพื่อสร้างความหวาดกลัว ความกังวล หรือการคุกคามในชีวิตประจำวันของเหยื่อ</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="discover-items">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>Static of Cybercrime</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="pie-container">
            <div class="row">
              <div class="col-md-5" id="pieChart"></div>
              <div id="pieText" class="col-md-7 text-container">
                <div class="panel">
                  <div class="content-wrapper">
                    <h1 id="segmentTitle">เลือกสีที่คุณต้องการจะสำรวจ</h1>
                    <p id="segmentText">นี่เป็นสถิติจำลองของการโดน <cc style="color: red;">Cybercrime</cc>
                      จากจำนวนคนทั้งหมด 6,830,000 คน และ เผยถึงสาเหตุของการโดน <cc style="color: red;">Cybercrime</cc>
                      เบื้องต้น</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="top-seller">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div id="containerC"></div>
        </div>
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>Top 8 <cc style="color: rgb(245, 9, 9);">Cybercrime</cc><br>
              <h6>จากผลสำรวจทั้งหมด <cc style="color: black;">6,830,000</cc> คน</h6>
            </h2>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h4>1.</h4>
                <img src="../assets/images/featured-01.jpg" alt=""
                  style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                <h6>Phishing<br><a href="#">1,500,000 คน</a></h6>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h4>2.</h4>
                <img src="../assets/images/featured-02.jpg" alt=""
                  style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                <h6>Malware<br><a href="#">1,200,000 คน</a></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h4>3.</h4>
                <img src="../assets/images/featured-03.jpg" alt=""
                  style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                <h6>Ransomware<br><a href="#">850,000 คน</a></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h4>4.</h4>
                <img src="../assets/images/featured-04.jpg" alt=""
                  style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                <h6>Social Engineering<br><a href="#">950,000 คน</a></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h4>5.</h4>
                <img src="../assets/images/featured-05.jpg" alt=""
                  style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                <h6>Identity Theft<br><a href="#">780,000 คน</a></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h4>6.</h4>
                <img src="../assets/images/featured-06.jpg" alt=""
                  style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                <h6>Romance scam<br><a href="#">500,000 คน</a></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h4>7.</h4>
                <img src="../assets/images/featured-07.jpg" alt=""
                  style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                <h6>Keylogger<br><a href="#">650,000 คน</a></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h4>8.</h4>
                <img src="../assets/images/featured-08.jpg" alt=""
                  style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                <h6>Cyberstalking<br><a href="#">400,000 คน</a></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2024 <a href="#">Cybercrime</a> Cybersecurity Co., Ltd. All rights reserved.
            &nbsp;&nbsp;
            Designed by <a title="HTML CSS Templates" rel="sponsored" href="https://templatemo.com"
              target="_blank">Rawin & Jeepan</a></p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src='https://d3js.org/d3.v5.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TimelineLite.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="./script.js"></script>

  <script src="../assets/js/isotope.min.js"></script>
  <script src="../assets/js/owl-carousel.js"></script>

  <script src="../assets/js/tabs.js"></script>
  <script src="../assets/js/popup.js"></script>
  <script src="../assets/js/custom.js"></script>
  <script src="../assets/js/crime.js"></script>

</body>

</html>